<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Collaboration</title>
<link rel="shortcut icon" href="favicon.ico">

<link rel="stylesheet" href="resources/css/bootstrap.min.css" />
<script src="resources/js/bootstrap.min.js"></script>

</head>
<body ng-app="myApp">
	<div class="generic-container" ng-controller="EventController as ctrl">
		<br/><br/><br/>
		<h3>Events</h3>
		Search : <input type="text" class="form-control control-label" size="80" ng-model="searchTerm" /><br/>


		<div class="panel-body">
			<div ng-repeat="ue in ctrl.events | filter:searchTerm">
				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title" style="font-weight: bold;">
							<b>{{ue.subject}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ue.venue}}</b>
						</h3>
					</div>
					<div class="panel-body" style="text-align: justify;">
						{{ue.description}}<br/><br/>
						<span class="glyphicon glyphicon-calendar"></span> Posted on : {{ue.eventdt | date:fullDate}}
					</div>					
				</div>
			</div>
		</div>
	</div>
</body>
</html>